<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>The ASL Project</title>
    </head>
    <body>
    <!-- page content below -->
        <h1 style="text-align: center;">The ASL Project</h1>
        <p style="font-family: courier; color: blue; text-align: center; font-size:150%;">
            <b>Deploy deep learning technologies in computer vision to bridge the communication gap between the deaf and everyone else.</b>
    <p>This project contains several phases with long-term goals for real-world deployment. The intent is to have each subsequent phase build upon the previous phase. </p>
        </p>
       
    </body>
</html>